<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Contact Us</title>
</head>

<body>
    {{>LoggedInNav}}

    <main>
        <h2 class="main-h2">
            Email: DelhiPolymerscontact@gmail.com <br>
            C-496 DSIDC Industrial Area Narela, New Delhi, India 110040
        </h2>
            <button role="button" class="query-btn">View Contact Number</button>

        <div id="map"> </div>

        <form action="/ContactUsLoggedIn" method= "POST" class = "query-form">
        <h2 class="h2-query">
            Have A Query? Type to Us
        </h2>
            <textarea id="Query" name="query" placeholder="Enter Your Query" cols="30" rows="4" required></textarea>
            <input type="submit" value = "Submit" class = "a-btn">
        </form>
    </main>

    <script>
        function initMap() {
            var location = { lat: 28.832804, lng: 77.102475 };
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: location,
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>


    <script async defer 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASWV2V4tnK9PSHoPtHBURr-nKh5_7Rba8&callback=initMap">
    </script>

    <script>
        var button= document.getElementsByClassName("query-btn")[0]
        button.addEventListener('click',contactAlert)

        function contactAlert(){
            alert("Contact Us : +91 9773766205")
        }

    </script>

</body>
{{>footer}}
</html>