<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Home page</title>
</head>

<body>

    {{>HomepageNav}}

    <main>
        <h1 class="main-head">Welcome to Delhi Polymers</h1>
        <p class="p-intro">We are delivering best quality products from past 10 years and counting. Our aim is to be the
            leading manufacturing force delivering raw materials to every part of country.
        </p>
        <a href="/Login" class="a-btn">Login</a>
        <a href="/Register" class="a-btn">Register Yourself</a>

    </main>

</body>
{{>footer}}

</html>