<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Home page</title>
</head>

<body>

    {{>HomepageNav}}

    <main>
        <h1 class="main-head">Welcome to Delhi Polymers</h1>
            
            <a href="/Login" class="a-btn">Login</a>
            <a href="/Register" class="a-btn">Register Yourself</a>
            
        
        
    </main>



</body>

</html>