<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Place Order</title>

    {{!--
    <script src="https://checkout.stripe.com/v2/checkout.js"></script> --}}


    <script>
        if (document.readyState == 'loading') {
            document.addEventListener('DOMContentLoaded', ready)
        } else {
            ready()
        }

        function ready() {
            /**
            var quantityInputs = document.getElementsByClassName('input-quantity')
            for (var i = 0; i < quantityInputs.length; i++) {
                var input = quantityInputs[i]
                input.addEventListener('change', quantityChanged)
            }
            */

            var addButton = document.getElementsByClassName('td-btn');
            for (var i = 0; i < addButton.length; i++) {
                var button = addButton[i];
                button.addEventListener('click', addItem);
            }
        }

        /**
        function quantityChanged(event) {
            var input = event.target
            if (isNAN(input.value) || input.value < 0) {
                input.value = 0
            }
            updateTotal()
        }
        */

        function pvcQualityChange() {
            var qualityElement = document.getElementById("pvc-quality-select");
            if (qualityElement.value == "Cream") {
                document.getElementsByClassName('td-price')[0].innerText = 'Rs.' + 32
            }
            if (qualityElement.value == "Black") {
                document.getElementsByClassName('td-price')[0].innerText = 'Rs.' + 26
            }
            if (qualityElement.value == "White") {
                document.getElementsByClassName('td-price')[0].innerText = 'Rs.' + 35
            }
        }

        function buradaQualityChange() {
            var qualityElement = document.getElementById("burada-quality-select");
            if (qualityElement.value == "Black") {
                console.log("Black")
                document.getElementsByClassName('td-price')[1].innerText = 'Rs.' + 22
            }
            if (qualityElement.value == "White") {
                document.getElementsByClassName('td-price')[1].innerText = 'Rs.' + 27
            }
            if (qualityElement.value == "Cream") {
                document.getElementsByClassName('td-price')[1].innerText = 'Rs.' + 25
            }
        }

        function addItem(event) {
            var buttonClicked = event.target;
            updateTotal();
        }

        function updateTotal() {
            var Items = document.getElementsByClassName('Item-row');
            var total = 0;
            for (var i = 0; i < Items.length; i++) {
                var itemRow = Items[i];
                var priceElement = itemRow.getElementsByClassName('td-price')[0];
                var quantityElement = itemRow.getElementsByClassName('input-quantity')[0];

                var price = parseFloat(priceElement.innerText.replace('Rs.', ''));
                var quantity = quantityElement.value;
                total = total + quantity * price * 1000;
            }
            document.getElementsByClassName('total-price')[0].innerText = 'Rs.' + total
        }
        /**
        var stripeHandler = StripeCheckout.configure({

            key: 'pk_test_51IqhGpSGX0zlEuHCOeo6zSq2f1AkiuSPQD8dcC88QNVe2BoTFIyoxqV4MSwqK25qZilPrD2QYMxqV2fYbxiO2NeV00RodHCS1E',
            locale: 'auto',
            token: function (token) {
                var items=[];
                var ItemContainer=document.getElementsByClassName('Item-row');
                for(var i=0;i<ItemContainer.length;i++){
                    var item=ItemContainer[i]
                    var quantityElement=item.getElementsByClassName('input-quantity')[0]
                    var quantity= quantityElement.value;
                    var id=item.dataset.itemId
                    items.push({
                        id:id,
                        quantity:quantity
                    })
                }

                fetch('/Purchase', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify({
                        stripeTokenId: token.id,
                        items:items
                    })
                })
                //.then(function(res){
                  //  return res.json()
                //}).then(function(data){
                  //  alert(data.message)
                //}).catch(function(error){
                   // console.error(error)

                //})
            }
        })
        */
        function purchaseClicked() {
            var priceElement = document.getElementsByClassName('total-price')[0]
            var price = parseFloat(priceElement.innerText.replace('Rs.', ''))


            fetch('/Payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    price: price
                })
            })
            alert("Payment Link is successfuly generated of amount Rs." + price + "\nKindly check your email");
            var pQualityElement = document.getElementById("pvc-quality-select");
            pQualityElement.value = "Cream";
            pvcQualityChange()
            var bQualityElement = document.getElementById("burada-quality-select");
            bQualityElement.value = "Cream";
            buradaQualityChange()
            var pvcQuant = document.getElementsByClassName('input-quantity')[0];
            pvcQuant.value = 0;
            var buradaQuant = document.getElementsByClassName('input-quantity')[1];
            buradaQuant.value = 0;
            updateTotal();

            /**
            stripeHandler.open({
                currency:"inr",
                amount: price
            })
            */
        }
    </script>


</head>

<body>
    {{>LoggedInNav}}

    <main>
        <h2>Purchase Goods </h2>
        <table class="main-table">
            <tr>
                <th class="main-th">Item</th>
                <th class="main-th">Quality</th>
                <th class="main-th">Price (in Rs)</th>
                <th class="main-th">Quantity (in Tons)</th>

            </tr>
            <tr class="Item-row">
                <td class="table-td">PVC Compound</td>
                <td class="table-td">
                    <select name="quality-select" id="pvc-quality-select" onchange="pvcQualityChange()"
                        class="select-quality" autofocus>
                        <option value="Cream">Cream</option>
                        <option value="Black">Black</option>
                        <option value="White">White</option>
                    </select>
                </td>
                <td class="td-price table-td">Rs.32</td>
                <td class="td-quantity table-td">
                    <input class="input-quantity" type="Number" value="0" min="0">
                </td>
                <td class="table-td">
                    <button role="button" class="td-btn">Add</button>
                </td>

            </tr>
            <tr class="Item-row">
                <td class="table-td">Burada</td>
                <td class="table-td">
                    <select name="quality-select" id="burada-quality-select" onchange="buradaQualityChange()"
                        class="select-quality">
                        <option value="Cream">Cream</option>
                        <option value="Black">Black</option>
                        <option value="White">White</option>

                    </select>
                </td>
                <td class="td-price table-td">Rs.25</td>
                <td class="td-quantity table-td">
                    <input class="input-quantity" type="Number" value="0" min="0">
                </td>
                <td class="table-td">
                    <button role="button" class="td-btn">Add</button>
                </td>
            </tr>
        </table>
        <div class="div-total">
            <span class="div-span">Total: </span>
            <span class="total-price div-span">Rs. 0</span>

        </div>
        <button class="a-btn" onclick="purchaseClicked()"> Pay </button>

        {{!-- <form action="/Payment" method="POST">
            <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key='pk_test_51IqhGpSGX0zlEuHCOeo6zSq2f1AkiuSPQD8dcC88QNVe2BoTFIyoxqV4MSwqK25qZilPrD2QYMxqV2fYbxiO2NeV00RodHCS1E'
                data-amount="70000" data-currency="INR" data-name="Delhi Polymers" data-description="Purchase goods "
                data-locale="auto">
                    console.log(document.getElementsByClassName('total-price')[0].innerText)
                </script>
        </form> --}}


    </main>
</body>

</html>