<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Buyer Details</title>
</head>
<body>
    {{>AdminNav}}
    <main>
        <h2 class="main-h2">
            Buyers details will be shown soon!
        </h2>
    </main>
</body>
{{>footer}}
</html>