<footer>
    <p>Created By Lakshay</p>
    <ul class="footer-foot">
            <li class="footer-item">
                <a href="https://github.com/laksh25/DelhiPolymers" target="_blank" class="footer-link">
                    <img class="logo" src="images/Github.png" alt="Github not available">
                    
                </a>

            </li>
            <li class="footer-item">
                <a href="https://gmail.com " target="_blank"class="footer-link">
                    <img class="logo" src="images/Gmail.png" alt="Logo Made by Vectors Market from flaticon.com">      
                </a>
                
            </li>
            <li class="footer-item">
                <a href="https://in.linkedin.com/in/lakshay-gupta-678ab3202?trk=people-guest_people_search-card" target="_blank" class="footer-link">
                    <img class="logo" src="images/LinkedIn.png" alt="Logo Made by Freepik from flaticon.com">
                </a>
            </li>
        </ul>
</footer>