<nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img class="logo-DP" src="images/DPLOGO.png" alt="Logo not available">
                    <span class="link-text">Delhi Polymers</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/UserProfile" class="nav-link">
                    <img class="logo" src="images/home.png" alt="Logo Made by Becris from flaticon.com">
                    <span class="link-text">My Profile</span>
                </a>

            </li>
            <li class="nav-item">
                <a href="/Payment" class="nav-link">
                    <img class="logo" src="images/Payment.png" alt="Logo Made by Vectors Market from flaticon.com">
                    <span class="link-text">Place Orders</span>
                </a>
                
            </li>
            <li class="nav-item">
                <a href="/PaymentRecords" class="nav-link">
                    <img class="logo" src="images/credit-card.png" alt="Logo Made by Vectors Market from flaticon.com">
                    <span class="link-text">View Transactions</span>
                </a>
                
            </li>

            <li class="nav-item">
                <a href="/ContactUsLoggedIn" class="nav-link">
                    <img class="logo" src="images/operator.png" alt="Logo Made by Freepik from flaticon.com">
                    <span class="link-text">Contact Us</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/" class="nav-link">
                    <img class="logo" src="images/exit.png" alt="Logo Made by Freepik from flaticon.com">
                    <span class="link-text">Logout</span>
                </a>
            </li>

        </ul>

    </nav>